[Desktop Entry]
Type=Application
Exec=runsvdir /home/hyro/.runit/runsvdir
X-GNOME-Autostart-enabled=true
NoDisplay=false
Hidden=false
Name[en_GB]=pipewire
Comment[en_GB]=No description
X-GNOME-Autostart-Delay=0
